Repository ansys/pyconverter-xml2py, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Maintenance, Dependencies, CI/CD

Update tests/conftest.py
  tests/conftest.py
Labels: none

Code style checks
  tests/conftest.py
Labels: none

Update src/ansys/dita/ast/writer.py
  src/ansys/dita/ast/writer.py
Labels: none

Updating pyproject.toml in _package
  _package/pyproject.toml
Labels: none

Making changes in the documentation
  README.rst
  doc/make.bat
  doc/source/api/ast_class.rst
  doc/source/api/index.rst
  doc/source/conf.py
  doc/source/getting_started/diags/diag_directory.rst
  doc/source/getting_started/index.rst
  examples/README.md
  pyproject.toml
  src/ansys/dita/ast/ast_tree.py
  src/ansys/dita/ast/directory_format.py
  src/ansys/dita/ast/load_xml_doc.py
  src/ansys/dita/ast/writer.py
  tests/conftest.py
  tests/test_directory_format.py
  tests/test_writer.py
  tests/test_xml_ast.py
Labels: Documentation, Maintenance, Dependencies

Code style checks
  doc/source/conf.py
  src/ansys/dita/ast/load_xml_doc.py
  src/ansys/dita/ast/writer.py
  tests/conftest.py
  tests/test_directory_format.py
  tests/test_writer.py
  tests/test_xml_ast.py
Labels: Documentation

Fixing graphic of the pre-defined directory format
  doc/source/getting_started/diags/diag_directory.rst
  doc/source/getting_started/index.rst
Labels: Documentation

Adding the API doc
  doc/source/api/ast_class.rst
  doc/source/api/ast_functions.rst
  doc/source/api/autogenerateddirectory.rst
  doc/source/api/directory_format.rst
  doc/source/api/index.rst
  doc/source/api/load_xml_doc.rst
  doc/source/api/oxygen_xml.rst
  doc/source/api/writer.rst
  doc/source/conf.py
  src/ansys/dita/ast/ast_tree.py
  src/ansys/dita/ast/load_xml_doc.py
  src/ansys/dita/ast/version_variables.py
Labels: Documentation

Update doc/source/conf.py
  doc/source/conf.py
Labels: Documentation

Changes from Roberto's review
  doc/source/conf.py
Labels: Documentation

Removing ansys-sphinx-theme from _package
  _package/pyproject.toml
Labels: none

Fixing the section navigation
  doc/source/_templates/sidebar-nav-bs.html
Labels: Documentation

feat: make dependabot update the template
  .github/dependabot.yml
Labels: Maintenance, CI/CD

Update src/ansys/dita/ast/ast_tree.py
  src/ansys/dita/ast/ast_tree.py
Labels: none

Changing the library name into pydita-ast
  .coveragerc
  .github/workflows/ci_cd.yml
  README.rst
  _package/pyproject.toml
  doc/source/api/ast_class.rst
  doc/source/api/ast_functions.rst
  doc/source/api/autogenerateddirectory.rst
  doc/source/api/directory_format.rst
  doc/source/api/load_xml_doc.rst
  doc/source/api/oxygen_xml.rst
  doc/source/api/writer.rst
  doc/source/conf.py
  pyproject.toml
  src/pydita/ast/__init__.py
  src/pydita/ast/ast_tree.py
  src/pydita/ast/directory_format.py
  src/pydita/ast/load_xml_doc.py
  src/pydita/ast/version_variables.py
  src/pydita/ast/writer.py
  tests/conftest.py
  tests/test_directory_format.py
  tests/test_load_xml_doc.py
  tests/test_writer.py
  tests/test_xml_ast.py
  tox.ini
  xml2rst.py
Labels: Documentation, Maintenance, Dependencies, CI/CD

Fixing dependencies and code style issues
  _package/pyproject.toml
  doc/source/conf.py
  src/pydita/ast/load_xml_doc.py
  src/pydita/ast/writer.py
  tests/conftest.py
  tests/test_directory_format.py
  tests/test_writer.py
  tests/test_xml_ast.py
Labels: Documentation

Update _package/pyproject.toml
  _package/pyproject.toml
Labels: none

Adding the doc deployment in CICD
  .github/workflows/ci_cd.yml
  doc/source/conf.py
Labels: Documentation, Maintenance, CI/CD

Vale checks
  doc/source/getting_started/index.rst
  doc/source/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: Documentation, Maintenance

Adding installation of graphviz
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Graphviz install
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Adding pandoc to the sudo install
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Fixing a typo
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Usung the dependencies input of the Ansys actions
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Adding pdf section in Makefile
  doc/Makefile
Labels: none

Adding PDF documentation name
  doc/Makefile
  doc/source/conf.py
Labels: Documentation

Adding auto-doc-build section in CICD
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Modifying the working directory
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Modifying working-directory definition
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Building the autogenerated doc
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Fixing coverage uploads
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Using artifacts for the autogenerated doc build
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Style change
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Uploading doc images in doc/source/images
  src/pydita/ast/writer.py
  tests/test_writer.py
  xml2rst.py
Labels: none

Fixing the artifact path
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Code style changes
  src/pydita/ast/writer.py
  tests/test_writer.py
Labels: none

Fixing typo in CICD
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Generalizing copy_files function
  doc/source/api/writer.rst
  src/pydita/ast/writer.py
Labels: Documentation

Test artifact download
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Code style changes
  src/pydita/ast/writer.py
Labels: none

.github/labeler.yml:

Documentation:
- doc/source/**/*
Maintenance:
- .github/**/*
- .flake8
- doc/styles/**/*
- pyproject.toml
Dependencies:
- pyproject.toml
CI/CD:
- .github/**/*
