Repository ansys/pyconverter-xml2py, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Maintenance, Dependencies, CI/CD

.github/labeler.yml:

Documentation:
- doc/source/**/*
Maintenance:
- .github/**/*
- .flake8
- doc/styles/**/*
- pyproject.toml
Dependencies:
- pyproject.toml
CI/CD:
- .github/**/*

Implementing pre-defined folder format
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  src/ansys/dita/ast/dita_ast.py
  src/ansys/dita/ast/folder_format.py
  src/ansys/dita/ast/xml2rst.py
  tests/conftest.py
  tests/test_xml_ast.py
Labels: Maintenance, Dependencies

Name files/folders can be manually defined - DO NOT MERGE
  src/ansys/dita/ast/ast_tree.py
  src/ansys/dita/ast/folder_format.py
  src/ansys/dita/ast/folder_variables.py
  src/ansys/dita/ast/xml2rst.py
Labels: none

Updating the doc and the call to the pre-defined format
  README.rst
  doc/source/getting_started/index.rst
  doc/source/index.rst
  src/ansys/dita/ast/folder_format.py
Labels: Documentation

Current state of the folder
  doc/source/getting_started/index.rst
  src/ansys/dita/ast/ast_tree.py
  src/ansys/dita/ast/folder_format.py
  src/ansys/dita/ast/folder_variables.py
  src/ansys/dita/ast/load_xml_doc.py
  src/ansys/dita/ast/xml2rst.py
  tests/test_xml_ast.py
Labels: Documentation

Removing unecessary section in CICD
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Fixing issues
  src/ansys/dita/ast/ast_tree.py
  src/ansys/dita/ast/folder_format.py
  src/ansys/dita/ast/load_xml_doc.py
  src/ansys/dita/ast/version_variables.py
  src/ansys/dita/ast/xml2rst.py
Labels: none

Fixing format and function calls
  _package/AUTHORS.md
  _package/LICENSE
  _package/README.rst
  _package/doc/.vale.ini
  _package/doc/Makefile
  _package/doc/make.bat
  _package/doc/source/conf.py
  _package/doc/styles/.gitignore
  _package/doc/styles/Vocab/ANSYS/accept.txt
  _package/doc/styles/Vocab/ANSYS/reject.txt
  _package/pyproject.toml
  doc/source/getting_started/index.rst
  src/ansys/dita/ast/folder_format.py
  src/ansys/dita/ast/xml2rst.py
Labels: Documentation

Fixing XML converter
  .github/workflows/ci_cd.yml
  .gitignore
  _package/doc/source/conf.py
  _package/doc/source/index.rst
  _package/pyproject.toml
  src/ansys/dita/ast/ast_tree.py
  src/ansys/dita/ast/writer.py
  src/ansys/dita/ast/xml2rst.py
  xml2rst.py
Labels: Maintenance, CI/CD

Code style changes
  src/ansys/dita/ast/load_xml_doc.py
Labels: none

Removing ghdir arg in Unit Testing section
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Fixing autosummary issues
  _package/doc/source/_templates/base.rst
  _package/doc/source/conf.py
  _package/pyproject.toml
  src/ansys/dita/ast/ast_tree.py
  src/ansys/dita/ast/writer.py
Labels: none

Updating the documentation
  _package/doc/source/conf.py
  doc/source/contributing/index.rst
  doc/source/getting_started/index.rst
  doc/source/index.rst
  doc/source/user_guide/index.rst
  src/ansys/dita/ast/ast_tree.py
Labels: Documentation

Adding the checkout MAPDL-cmd-doc section in the CI/CD
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Adding XML_ast tests
  .github/workflows/ci_cd.yml
  .gitignore
  tests/conftest.py
  tests/test_metadata.py
  tests/test_xml_ast.py
Labels: Maintenance, CI/CD

Code style changes
  tests/test_xml_ast.py
Labels: none

Adding folder_fornat unit tests
  tests/test_folder_format.py
Labels: none

Fixing Unit Tests
  src/ansys/dita/ast/folder_format.py
  tests/test_folder_format.py
Labels: none

Adding new unit tests
  src/ansys/dita/ast/writer.py
  tests/conftest.py
  tests/test_folder_format.py
  tests/test_load_xml_doc.py
  tests/test_writer.py
Labels: none

Adding coverage report
  .github/workflows/ci_cd.yml
  pyproject.toml
Labels: Maintenance, Dependencies, CI/CD

Fixing typo in CICD
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Increasing the code coverage
  src/ansys/dita/ast/writer.py
  tests/conftest.py
  tests/test_writer.py
Labels: none

Update _package/README.rst
  _package/README.rst
Labels: none

Update _package/pyproject.toml
  _package/pyproject.toml
Labels: none

Code style changes
  src/ansys/dita/ast/load_xml_doc.py
  src/ansys/dita/ast/writer.py
  tests/conftest.py
  tests/test_folder_format.py
  tests/test_writer.py
  tests/test_xml_ast.py
Labels: none

Apply suggestions from code review
  .github/workflows/ci_cd.yml
  _package/pyproject.toml
  doc/source/index.rst
  src/ansys/dita/ast/load_xml_doc.py
Labels: Documentation, Maintenance, CI/CD

Changes from Roberto's review and code style check
  _package/pyproject.toml
  src/ansys/dita/ast/folder_format.py
  src/ansys/dita/ast/load_xml_doc.py
  src/ansys/dita/ast/writer.py
  tests/conftest.py
  tests/test_folder_format.py
  tests/test_writer.py
  tests/test_xml_ast.py
Labels: none

Apply suggestions from code review
  tests/test_xml_ast.py
Labels: none

Code style changes
  tests/test_xml_ast.py
Labels: none

Adding autosummary to the doc
  .gitignore
  doc/source/_templates/sidebar-nav-bs.html
  doc/source/conf.py
  doc/source/index.rst
Labels: Documentation

Updating the branch
  doc/source/api/index.rst
  doc/source/contributing/index.rst
  doc/source/getting_started/index.rst
  doc/source/links.rst
  doc/source/user_guide/index.rst
Labels: Documentation

Update doc/source/contributing/index.rst
  doc/source/contributing/index.rst
Labels: Documentation

Update doc/source/getting_started/index.rst
  doc/source/getting_started/index.rst
Labels: Documentation

Update tests/conftest.py
  tests/conftest.py
Labels: none

Update src/ansys/dita/ast/ast_tree.py
  src/ansys/dita/ast/ast_tree.py
Labels: none

Changes from code reviews
  .gitignore
  doc/source/conf.py
  doc/source/contributing/index.rst
  doc/source/getting_started/index.rst
  doc/source/index.rst
  doc/source/links.rst
  src/ansys/dita/ast/__init__.py
  src/ansys/dita/ast/ast_tree.py
  src/ansys/dita/ast/folder_format.py
  src/ansys/dita/ast/load_xml_doc.py
  src/ansys/dita/ast/version_variables.py
  src/ansys/dita/ast/writer.py
  tests/conftest.py
  tests/test_folder_format.py
  tests/test_load_xml_doc.py
  tests/test_writer.py
  xml2rst.py
Labels: Documentation

Fixing typos
  src/ansys/dita/ast/ast_tree.py
  tests/conftest.py
Labels: none

Fixing unit tests issues
  _package/doc/source/conf.py
  tests/test_xml_ast.py
Labels: none

Code style checks
  _package/doc/source/conf.py
Labels: none

Typo in unit tests
  tests/test_xml_ast.py
Labels: none

Running the unint tests locally
  tests/conftest.py
Labels: none
