Repository ansys/pyconverter-xml2py, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Maintenance, Dependencies, CI/CD

.github/labeler.yml:

Documentation:
- doc/source/**/*
Maintenance:
- .github/**/*
- .flake8
- doc/styles/**/*
- pyproject.toml
Dependencies:
- pyproject.toml
CI/CD:
- .github/**/*

Changing the package name
  .coveragerc
  .github/workflows/autodoc_cicd.yml
  .github/workflows/ci_cd.yml
  README.rst
  doc/source/api/ast_class.rst
  doc/source/api/ast_functions.rst
  doc/source/api/autogenerateddirectory.rst
  doc/source/api/custom_functions.rst
  doc/source/api/directory_format.rst
  doc/source/api/load_xml_doc.rst
  doc/source/api/oxygen_xml.rst
  doc/source/api/writer.rst
  doc/source/conf.py
  pyproject.toml
  src/pydita_ast/__init__.py
  src/pydita_ast/ast_tree.py
  src/pydita_ast/custom_functions.py
  src/pydita_ast/directory_format.py
  src/pydita_ast/load_xml_doc.py
  src/pydita_ast/version_variables.py
  src/pydita_ast/writer.py
  tests/conftest.py
  tests/test_custom_functions.py
  tests/test_directory_format.py
  tests/test_load_xml_doc.py
  tests/test_writer.py
  tests/test_xml_ast.py
  tox.ini
  xml2rst.py
Labels: Documentation, Maintenance, Dependencies, CI/CD

Changing the library name into `pydita_ast`
  .coveragerc
  .github/workflows/ci_cd.yml
  README.rst
  doc/source/api/ast_class.rst
  doc/source/api/ast_functions.rst
  doc/source/api/autogenerateddirectory.rst
  doc/source/api/custom_functions.rst
  doc/source/api/directory_format.rst
  doc/source/api/load_xml_doc.rst
  doc/source/api/oxygen_xml.rst
  doc/source/api/writer.rst
  doc/source/conf.py
  pyproject.toml
  src/pydita/ast/__init__.py
  src/pydita/ast/load_xml_doc.py
  src/pydita/ast/writer.py
  tests/conftest.py
  tests/test_custom_functions.py
  tests/test_directory_format.py
  tests/test_load_xml_doc.py
  tests/test_writer.py
  tests/test_xml_ast.py
  tox.ini
  xml2rst.py
Labels: Documentation, Maintenance, Dependencies, CI/CD

Changing the directory name
  src/pydita_ast/__init__.py
  src/pydita_ast/ast_tree.py
  src/pydita_ast/custom_functions.py
  src/pydita_ast/directory_format.py
  src/pydita_ast/load_xml_doc.py
  src/pydita_ast/version_variables.py
  src/pydita_ast/writer.py
Labels: none

Fixing `mapdl-cmd-doc` call
  .github/workflows/autodoc_cicd.yml
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Updating the call to `mapdl-cmd-doc`
  .github/workflows/autodoc_cicd.yml
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Fixing pydita-ast name for consistency
  README.rst
Labels: none

Trying to fix the error
  _package/doc/source/conf.py
Labels: none

Adding section for the package organization
  doc/source/getting_started/images/diags/diag_package.rst
  doc/source/getting_started/images/diags/graphviz-diag_package.png
  doc/source/getting_started/index.rst
Labels: Documentation

Update README.rst
  README.rst
Labels: none

Updating documentation (#38)
  .github/workflows/autodoc_cicd.yml
  .github/workflows/ci_cd.yml
  README.rst
  _package/customized_functions/l2ang.py
  _package/doc/source/conf.py
  doc/source/api/index.rst
  doc/source/conf.py
  doc/source/contributing/index.rst
  doc/source/getting_started/images/diags/diag_directory.rst
  doc/source/getting_started/images/diags/diag_package.rst
  doc/source/getting_started/images/diags/graphviz-diag_directory.png
  doc/source/getting_started/images/diags/graphviz-diag_package.png
  doc/source/getting_started/images/tables_doc.png
  doc/source/getting_started/index.rst
  doc/source/getting_started/objects.rst
  doc/source/getting_started/source_code.rst
  doc/source/links.rst
  doc/source/user_guide/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
  pyproject.toml
Labels: Documentation, Maintenance, Dependencies, CI/CD

Adding customized functions as a parameter
  README.rst
  customized_functions/k.py
  customized_functions/kdist.py
  customized_functions/l2ang.py
  doc/source/getting_started/index.rst
  doc/source/getting_started/source_code.rst
  src/pydita/ast/writer.py
  tests/conftest.py
  tests/test_writer.py
  xml2rst.py
Labels: Documentation

Moving customized_functions in tests
  customized_functions/l2ang.py
  tests/conftest.py
  tests/customized_functions/k.py
  tests/customized_functions/kdist.py
Labels: none

Adding function customization in CICD
  .github/workflows/autodoc_cicd.yml
Labels: Maintenance, CI/CD

Fixing functions_path as an optional parameter
  src/pydita/ast/writer.py
  tests/test_writer.py
  xml2rst.py
Labels: none

Update .github/workflows/autodoc_cicd.yml
  .github/workflows/autodoc_cicd.yml
Labels: Maintenance, CI/CD

Fixing code style issues
  src/pydita/ast/writer.py
  xml2rst.py
Labels: none

Fixing docstring from writer.py
  src/pydita/ast/writer.py
Labels: none

Fixing a typo in docstring
  src/pydita/ast/writer.py
Labels: none

Typo
  src/pydita/ast/writer.py
Labels: none

Adding customized functions as a parameter (#45)
  .github/workflows/autodoc_cicd.yml
  README.rst
  _package/customized_functions/l2ang.py
  doc/source/getting_started/index.rst
  doc/source/getting_started/source_code.rst
  src/pydita/ast/writer.py
  tests/conftest.py
  tests/customized_functions/k.py
  tests/customized_functions/kdist.py
  tests/test_writer.py
  xml2rst.py
Labels: Documentation, Maintenance, CI/CD

Fixing package library
  .github/workflows/autodoc_cicd.yml
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Fixing typos
  .github/workflows/autodoc_cicd.yml
  .github/workflows/ci_cd.yml
  README.rst
  _package/pyproject.toml
Labels: Maintenance, CI/CD

Removing pydita_ast in tool.flit.module
  pyproject.toml
  src/pydita_ast/writer.py
  tests/test_writer.py
Labels: Maintenance, Dependencies

Code style changes
  tests/test_writer.py
Labels: none

Fixing unit tests
  src/pydita_ast/ast_tree.py
Labels: none

Upgrading pip
  .github/workflows/autodoc_cicd.yml
  .github/workflows/ci_cd.yml
  README.rst
Labels: Maintenance, CI/CD

Changing library name into `pydita_ast` (#43)
  .coveragerc
  .github/workflows/autodoc_cicd.yml
  .github/workflows/ci_cd.yml
  README.rst
  _package/pyproject.toml
  doc/source/api/ast_class.rst
  doc/source/api/ast_functions.rst
  doc/source/api/autogenerateddirectory.rst
  doc/source/api/custom_functions.rst
  doc/source/api/directory_format.rst
  doc/source/api/load_xml_doc.rst
  doc/source/api/oxygen_xml.rst
  doc/source/api/writer.rst
  doc/source/conf.py
  pyproject.toml
  src/pydita_ast/__init__.py
  src/pydita_ast/ast_tree.py
  src/pydita_ast/custom_functions.py
  src/pydita_ast/directory_format.py
  src/pydita_ast/load_xml_doc.py
  src/pydita_ast/version_variables.py
  src/pydita_ast/writer.py
  tests/conftest.py
  tests/test_custom_functions.py
  tests/test_directory_format.py
  tests/test_load_xml_doc.py
  tests/test_writer.py
  tests/test_xml_ast.py
  tox.ini
  xml2rst.py
Labels: Documentation, Maintenance, Dependencies, CI/CD

Openning the PR
  src/pydita/ast/ast_tree.py
Labels: none

Returning links and version_variables in `convert`
  src/pydita_ast/writer.py
  tests/conftest.py
  xml2rst.py
Labels: none

Update xml2rst.py
  xml2rst.py
Labels: none

Removing MAPDL mentions
  src/pydita_ast/ast_tree.py
  src/pydita_ast/writer.py
  xml2rst.py
Labels: none

Removing some "will" to remove warnings from Vale
  README.rst
  doc/source/_static/README.md
  doc/source/getting_started/objects.rst
  doc/source/getting_started/source_code.rst
Labels: Documentation

Fixing pytests
  src/pydita_ast/ast_tree.py
  tests/test_writer.py
Labels: none

Updating `pydita_ast` to be integrated in `mapdl-cmd-conv` (#50)
  README.rst
  doc/source/_static/README.md
  doc/source/getting_started/objects.rst
  doc/source/getting_started/source_code.rst
  src/pydita_ast/ast_tree.py
  src/pydita_ast/writer.py
  tests/conftest.py
  tests/test_writer.py
  xml2rst.py
Labels: Documentation

Updating landing page
  doc/source/index.rst
Labels: Documentation

Updating `conf.py`
  doc/source/conf.py
Labels: Documentation

Fixing `conf.py`
  doc/source/conf.py
Labels: Documentation

Updating landing page (#55)
  doc/source/conf.py
  doc/source/index.rst
Labels: Documentation

Adding copyright headers
  src/pydita_ast/__init__.py
  src/pydita_ast/version_variables.py
  src/pydita_ast/writer.py
  xml2rst.py
Labels: none

Adding other copyright headers
  src/pydita_ast/ast_tree.py
  src/pydita_ast/custom_functions.py
  src/pydita_ast/directory_format.py
  src/pydita_ast/load_xml_doc.py
Labels: none
