Repository ansys/pyconverter-xml2py, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Maintenance, Dependencies, CI/CD

Artifacts already moved from the package folder
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Fixing Makefile in _package
  _package/doc/Makefile
Labels: none

Adding cache to the CICD for autogenerated doc
  .github/workflows/ci_cd.yml
  src/pydita/ast/writer.py
Labels: Maintenance, CI/CD

Changes from Roberto's review
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Independent workflow for the autogenerated docs
  .github/workflows/autodoc_cicd.yml
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Changes from Roberto's review
  src/pydita/ast/writer.py
Labels: none

Cache reset value
  .github/workflows/autodoc_cicd.yml
Labels: Maintenance, CI/CD

Adding test dowload artifacts
  .github/workflows/autodoc_cicd.yml
Labels: Maintenance, CI/CD

Adding .vale.ini file when copying _package
  src/pydita/ast/writer.py
Labels: none

Changes for Vale check
  _package/doc/source/index.rst
  _package/doc/styles/Vocab/ANSYS/accept.txt
Labels: none

Checking download artifacts
  .github/workflows/autodoc_cicd.yml
Labels: Maintenance, CI/CD

Fixing vale error
  .github/workflows/autodoc_cicd.yml
  src/pydita/ast/writer.py
Labels: Maintenance, CI/CD

Copying .gitignore in package
  src/pydita/ast/writer.py
Labels: none

Typo
  .github/workflows/autodoc_cicd.yml
Labels: Maintenance, CI/CD

Removing the doc-style check for the autogenerated doc
  .github/workflows/autodoc_cicd.yml
Labels: Maintenance, CI/CD

Using shutil.copytree
  doc/source/api/writer.rst
  src/pydita/ast/writer.py
Labels: Documentation

Update tests/test_writer.py
  tests/test_writer.py
Labels: none

Update src/pydita/ast/writer.py
  src/pydita/ast/writer.py
Labels: none

Changes from German's review
  src/pydita/ast/load_xml_doc.py
  src/pydita/ast/writer.py
  xml2rst.py
Labels: none

Code style checks
  src/pydita/ast/writer.py
  tests/test_writer.py
  xml2rst.py
Labels: none

Changes from German's review
  src/pydita/ast/writer.py
Labels: none

Apply suggestions from code review
  .github/workflows/autodoc_cicd.yml
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Removing paths
  .github/workflows/autodoc_cicd.yml
Labels: Maintenance, CI/CD

Fixing a typo
  .github/workflows/autodoc_cicd.yml
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Fixing Makefiles and conf.py
  _package/doc/Makefile
  _package/doc/source/conf.py
  doc/Makefile
  doc/source/conf.py
Labels: Documentation

Removing pyvista.ext.plot_directive
  _package/doc/source/conf.py
Labels: none

Fixing a typo in the conf.py
  _package/doc/source/conf.py
Labels: none

Apply suggestions from code review
  .github/workflows/autodoc_cicd.yml
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Adding trigger
  .github/workflows/autodoc_cicd.yml
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Adding a workflow_dispatch
  .github/workflows/autodoc_cicd.yml
Labels: Maintenance, CI/CD

Fixing CICD
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Modifying CICD
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Adding general source code
  src/pydita/ast/ast_tree.py
Labels: none

Fixing Unit Tests
  src/pydita/ast/ast_tree.py
  tests/test_writer.py
Labels: none

Adding partial customization
  .github/workflows/autodoc_cicd.yml
  _package/customized_functions/k.py
  src/pydita/ast/ast_tree.py
  src/pydita/ast/specific_functions.py
  src/pydita/ast/writer.py
  tests/test_writer.py
Labels: Maintenance, CI/CD

maint: replace PyAnsys actions ref
  .github/workflows/autodoc_cicd.yml
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Customizing python code
  src/pydita/ast/ast_tree.py
  src/pydita/ast/custom_functions.py
  src/pydita/ast/specific_functions.py
  src/pydita/ast/writer.py
Labels: none

Finalizing the code customization
  src/pydita/ast/ast_tree.py
  src/pydita/ast/custom_functions.py
  tests/conftest.py
  tests/test_writer.py
Labels: none

Code style changes
  src/pydita/ast/ast_tree.py
  src/pydita/ast/custom_functions.py
  src/pydita/ast/writer.py
  tests/conftest.py
  tests/test_writer.py
Labels: none

Fixing issues related to org rename
  .github/workflows/autodoc_cicd.yml
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  README.rst
  _package/pyproject.toml
  doc/source/contributing/index.rst
  doc/source/links.rst
  pyproject.toml
Labels: Documentation, Maintenance, Dependencies, CI/CD

.github/labeler.yml:

Documentation:
- doc/source/**/*
Maintenance:
- .github/**/*
- .flake8
- doc/styles/**/*
- pyproject.toml
Dependencies:
- pyproject.toml
CI/CD:
- .github/**/*
