Repository ansys/pyconverter-xml2py, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Maintenance, Dependencies, CI/CD

.github/labeler.yml:

Documentation:
- doc/source/**/*
Maintenance:
- .github/**/*
- .flake8
- doc/styles/**/*
- pyproject.toml
Dependencies:
- pyproject.toml
CI/CD:
- .github/**/*

Update .github/workflows/autodoc_cicd.yml
  .github/workflows/autodoc_cicd.yml
Labels: Maintenance, CI/CD

Using a CLI to generate the Python package (#78)
  .github/workflows/autodoc_cicd.yml
  README.rst
  doc/source/conf.py
  doc/source/user_guide/index.rst
  doc/source/user_guide/source_code.rst
  pyproject.toml
  src/pydita_ast/cli.py
  src/pydita_ast/writer.py
  tests/test_cli.py
  tests/test_custom_functions.py
  tests/test_directory_format.py
  tests/test_load_xml_doc.py
  tests/test_writer.py
  tests/test_xml_ast.py
  xml2rst.py
Labels: Documentation, Maintenance, Dependencies, CI/CD

Using a CLI to generate the Python package (#78)
  .github/workflows/autodoc_cicd.yml
  README.rst
  doc/source/conf.py
  doc/source/user_guide/index.rst
  doc/source/user_guide/source_code.rst
  pyproject.toml
  src/pydita_ast/cli.py
  src/pydita_ast/writer.py
  tests/test_cli.py
  tests/test_custom_functions.py
  tests/test_directory_format.py
  tests/test_load_xml_doc.py
  tests/test_writer.py
  tests/test_xml_ast.py
  xml2rst.py
Labels: Documentation, Maintenance, Dependencies, CI/CD

maint: change `pydita-ast` into `pydoc-xml2python`
  .coveragerc
  .github/workflows/autodoc_cicd.yml
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  README.rst
  _package/doc/Makefile
  _package/doc/source/conf.py
  _package/pyproject.toml
  doc/Makefile
  doc/source/api/ast_class.rst
  doc/source/api/ast_functions.rst
  doc/source/api/autogenerateddirectory.rst
  doc/source/api/custom_functions.rst
  doc/source/api/directory_format.rst
  doc/source/api/load_xml_doc.rst
  doc/source/api/oxygen_xml.rst
  doc/source/api/writer.rst
  doc/source/conf.py
  doc/source/contributing/index.rst
  doc/source/getting_started/index.rst
  doc/source/links.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/source_code.rst
  pyproject.toml
  src/pydoc/xml2python/__init__.py
  src/pydoc/xml2python/ast_tree.py
  src/pydoc/xml2python/cli.py
  src/pydoc/xml2python/custom_functions.py
  src/pydoc/xml2python/directory_format.py
  src/pydoc/xml2python/load_xml_doc.py
  src/pydoc/xml2python/version_variables.py
  src/pydoc/xml2python/writer.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_custom_functions.py
  tests/test_directory_format.py
  tests/test_load_xml_doc.py
  tests/test_writer.py
  tests/test_xml_ast.py
  tox.ini
Labels: Documentation, Maintenance, Dependencies, CI/CD

maint: fix change name
  .github/workflows/autodoc_cicd.yml
  _package/doc/source/conf.py
  _package/pyproject.toml
  doc/source/user_guide/images/diags/diag_package.rst
  src/pydoc/xml2python/version_variables.py
  src/pydoc/xml2python/writer.py
  tests/test_load_xml_doc.py
Labels: Documentation, Maintenance, CI/CD

maint: bump Sphinx version to 7.0.1
  pyproject.toml
Labels: Maintenance, Dependencies

doc: removing mentions of "Dita"
  doc/source/index.rst
  doc/source/user_guide/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
  src/pyconverter/xml2py/ast_tree.py
Labels: Documentation, Maintenance

doc: fixing Vale
  doc/styles/Vocab/ANSYS/accept.txt
Labels: Maintenance

Update .github/workflows/autodoc_cicd.yml
  .github/workflows/autodoc_cicd.yml
Labels: Maintenance, CI/CD

Update doc/source/contributing/index.rst
  doc/source/contributing/index.rst
Labels: Documentation

Update doc/source/user_guide/index.rst
  doc/source/user_guide/index.rst
Labels: Documentation

doc: modifying wordings + unifying AST mentions
  doc/source/api/ast_class.rst
  doc/source/api/ast_functions.rst
  doc/source/api/oxygen_xml.rst
  doc/source/api/writer.rst
  src/pyconverter/xml2py/ast_tree.py
Labels: Documentation

maint: homogenizing name for PyConverter-GeneratedCommands
  .github/workflows/autodoc_cicd.yml
  _package/doc/source/conf.py
  src/pyconverter/xml2py/writer.py
Labels: Maintenance, CI/CD

Apply suggestions from code review
  doc/source/api/ast_class.rst
  src/pyconverter/xml2py/ast_tree.py
Labels: Documentation

release: bump version to 0.2.0
  pyproject.toml
Labels: Maintenance, Dependencies

maint: updating dev version
  pyproject.toml
Labels: Maintenance, Dependencies

Update pyproject.toml
  pyproject.toml
Labels: Maintenance, Dependencies

doc: updating doc and syncing os documentation
  doc/source/getting_started/index.rst
Labels: Documentation

Updating dev version (#96)
  pyproject.toml
Labels: Maintenance, Dependencies

fix: links check with actions v4
  doc/source/conf.py
Labels: Documentation

fix: pre-commit checks
  doc/source/conf.py
Labels: Documentation

fix: tox links
  doc/source/links.rst
Labels: Documentation

fix: adding link in linkchecked_ignore
  doc/source/conf.py
Labels: Documentation

maint: revert tox links
  doc/source/links.rst
Labels: Documentation

doc: reorganizing `getting_started` and `contribute` sections
  doc/source/contributing/index.rst
  doc/source/getting_started/index.rst
Labels: Documentation

fix: linkcheck
  doc/source/conf.py
Labels: Documentation

fix: numpydoc warning
  src/pyconverter/xml2py/directory_format.py
  src/pyconverter/xml2py/load_xml_doc.py
Labels: none

Apply suggestions from code review
  doc/source/contributing/index.rst
  doc/source/getting_started/index.rst
Labels: Documentation

doc: updating `post issues` section
  doc/source/getting_started/index.rst
Labels: Documentation

fix: adding `linkcheck_allowed_redirect`
  _package/doc/source/conf.py
  doc/source/conf.py
Labels: Documentation

fix: pre-commit checks
  _package/doc/source/conf.py
Labels: none

maint: removing check-links for the autogenerated package
  .github/workflows/autodoc_cicd.yml
  _package/doc/source/conf.py
Labels: Maintenance, CI/CD

Update pyproject.toml
  pyproject.toml
Labels: Maintenance, Dependencies

Update pyproject.toml
  pyproject.toml
Labels: Maintenance, Dependencies

Apply suggestions from code review
  doc/source/contributing/index.rst
  doc/source/getting_started/index.rst
Labels: Documentation

doc: update `getting started` according to Kathy's review
  doc/source/getting_started/index.rst
Labels: Documentation

Updating doc and syncing OS documentation (#97)
  doc/source/contributing/index.rst
  doc/source/getting_started/index.rst
  src/pyconverter/xml2py/directory_format.py
  src/pyconverter/xml2py/load_xml_doc.py
Labels: Documentation

feat: avoid to copy paste the _package folder - DO NOT MERGE
  src/pyconverter/xml2py/writer.py
Labels: none

Apply suggestions from code review
  src/pyconverter/xml2py/writer.py
Labels: none

feat: adding template_path to cli options
  src/pyconverter/xml2py/cli.py
  src/pyconverter/xml2py/download.py
Labels: none
