Repository ansys/pyconverter-xml2py, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Maintenance, Dependencies, CI/CD

Moving copyright to the top of the file
  src/pydita_ast/__init__.py
Labels: none

Moving copyright to the first line
  xml2rst.py
Labels: none

Adding copyright headers (#58)
  src/pydita_ast/__init__.py
  src/pydita_ast/ast_tree.py
  src/pydita_ast/custom_functions.py
  src/pydita_ast/directory_format.py
  src/pydita_ast/load_xml_doc.py
  src/pydita_ast/version_variables.py
  src/pydita_ast/writer.py
  xml2rst.py
Labels: none

Taking into account when two functions have identical names
  src/pydita_ast/ast_tree.py
  src/pydita_ast/writer.py
  tests/conftest.py
  tests/test_writer.py
  tests/test_xml_ast.py
  xml2rst.py
Labels: none

Generalization of rules
  src/pydita_ast/ast_tree.py
  src/pydita_ast/writer.py
Labels: none

Definition of global variables outside the functions
  src/pydita_ast/ast_tree.py
Labels: none

`CMD_MAP_GLOB` as a global variable
  src/pydita_ast/ast_tree.py
  src/pydita_ast/writer.py
Labels: none

Changes from Roberto's review
  src/pydita_ast/writer.py
  tests/test_writer.py
Labels: none

Update src/pydita_ast/writer.py
  src/pydita_ast/writer.py
Labels: none

Fixing `writer.py`
  src/pydita_ast/writer.py
Labels: none

First-pass edits
  doc/source/api/ast_class.rst
  doc/source/api/ast_functions.rst
  doc/source/api/autogenerateddirectory.rst
  doc/source/api/custom_functions.rst
  doc/source/api/directory_format.rst
  doc/source/api/index.rst
  doc/source/api/oxygen_xml.rst
  doc/source/api/writer.rst
  doc/source/contributing/index.rst
  doc/source/getting_started/images/diags/diag_directory.rst
  doc/source/getting_started/images/diags/diag_package.rst
  doc/source/getting_started/index.rst
  doc/source/getting_started/objects.rst
  doc/source/getting_started/source_code.rst
  doc/source/index.rst
  doc/source/links.rst
  doc/source/user_guide/index.rst
  src/pydita_ast/ast_tree.py
  src/pydita_ast/custom_functions.py
  src/pydita_ast/directory_format.py
  src/pydita_ast/load_xml_doc.py
  src/pydita_ast/version_variables.py
  src/pydita_ast/writer.py
Labels: Documentation

Apply suggestions from code review
  src/pydita_ast/ast_tree.py
Labels: none

Fix Vale issues and run pre-commit
  doc/source/conf.py
  doc/source/getting_started/index.rst
  doc/source/user_guide/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
  src/pydita_ast/directory_format.py
  src/pydita_ast/load_xml_doc.py
  src/pydita_ast/writer.py
  tests/conftest.py
  tests/test_directory_format.py
  tests/test_writer.py
  tests/test_xml_ast.py
Labels: Documentation, Maintenance

Style code checks
  doc/source/conf.py
  src/pydita_ast/load_xml_doc.py
  src/pydita_ast/writer.py
  tests/conftest.py
  tests/test_directory_format.py
  tests/test_writer.py
  tests/test_xml_ast.py
Labels: Documentation

Changes requested from Kathy's review
  doc/source/api/writer.rst
  src/pydita_ast/ast_tree.py
  src/pydita_ast/writer.py
  xml2rst.py
Labels: Documentation

Inverting `user_guide` and `getting_started` section names
  README.rst
  doc/source/getting_started/index.rst
  doc/source/user_guide/images/diags/diag_directory.rst
  doc/source/user_guide/images/diags/diag_package.rst
  doc/source/user_guide/images/diags/graphviz-diag_directory.png
  doc/source/user_guide/images/diags/graphviz-diag_package.png
  doc/source/user_guide/images/tables_doc.png
  doc/source/user_guide/index.rst
  doc/source/user_guide/objects.rst
  doc/source/user_guide/source_code.rst
Labels: Documentation

Updating and sorting API ref
  doc/source/api/ast_class.rst
  doc/source/api/ast_functions.rst
  doc/source/api/directory_format.rst
  doc/source/api/load_xml_doc.rst
  doc/source/api/writer.rst
  doc/source/conf.py
  src/pydita_ast/ast_tree.py
Labels: Documentation

Fixing docstrings
  doc/source/api/ast_class.rst
  src/pydita_ast/ast_tree.py
Labels: Documentation

Code style checks
  src/pydita_ast/ast_tree.py
Labels: none

Hiding switcher for now
  doc/source/conf.py
Labels: Documentation

Taking into account when two functions have identical names (#60)
  src/pydita_ast/ast_tree.py
  src/pydita_ast/writer.py
  tests/conftest.py
  tests/test_writer.py
  tests/test_xml_ast.py
  xml2rst.py
Labels: none

Code style checks
  src/pydita_ast/ast_tree.py
Labels: none

First-pass edits (#61)
  README.rst
  doc/source/api/ast_class.rst
  doc/source/api/ast_functions.rst
  doc/source/api/autogenerateddirectory.rst
  doc/source/api/custom_functions.rst
  doc/source/api/directory_format.rst
  doc/source/api/index.rst
  doc/source/api/load_xml_doc.rst
  doc/source/api/oxygen_xml.rst
  doc/source/api/writer.rst
  doc/source/conf.py
  doc/source/contributing/index.rst
  doc/source/getting_started/index.rst
  doc/source/getting_started/objects.rst
  doc/source/index.rst
  doc/source/links.rst
  doc/source/user_guide/images/diags/diag_directory.rst
  doc/source/user_guide/images/diags/diag_package.rst
  doc/source/user_guide/images/diags/graphviz-diag_directory.png
  doc/source/user_guide/images/diags/graphviz-diag_package.png
  doc/source/user_guide/images/tables_doc.png
  doc/source/user_guide/index.rst
  doc/source/user_guide/objects.rst
  doc/source/user_guide/source_code.rst
  doc/styles/Vocab/ANSYS/accept.txt
  src/pydita_ast/ast_tree.py
  src/pydita_ast/custom_functions.py
  src/pydita_ast/directory_format.py
  src/pydita_ast/load_xml_doc.py
  src/pydita_ast/version_variables.py
  src/pydita_ast/writer.py
  xml2rst.py
Labels: Documentation, Maintenance

Fix minor doc issues
  doc/source/user_guide/index.rst
  src/pydita_ast/ast_tree.py
  src/pydita_ast/directory_format.py
  src/pydita_ast/load_xml_doc.py
  src/pydita_ast/writer.py
Labels: Documentation

Fix minor doc issues (#63)
  doc/source/user_guide/index.rst
  src/pydita_ast/ast_tree.py
  src/pydita_ast/directory_format.py
  src/pydita_ast/load_xml_doc.py
  src/pydita_ast/writer.py
Labels: Documentation

fix: updating Ansys Inc. into ANSYS, Inc.
  _package/pyproject.toml
Labels: none

Update _package/pyproject.toml
  _package/pyproject.toml
Labels: none

Fixes for public release (#64)
  _package/pyproject.toml
Labels: none

Update ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

cicd: publish to public PyPI (#72)
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Bump version to 0.1.0
  _package/pyproject.toml
Labels: none

Modifying versions to get 2 different ones
  .github/workflows/ci_cd.yml
  doc/source/conf.py
  pyproject.toml
Labels: Documentation, Maintenance, Dependencies, CI/CD

Updating project name
  doc/source/conf.py
Labels: Documentation

Modifying code according to Roberto's review
  .github/workflows/autodoc_cicd.yml
  .github/workflows/ci_cd.yml
  README.rst
  pyproject.toml
Labels: Maintenance, Dependencies, CI/CD

Fixing package_name in cicd
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Fixing public release (#73)
  .github/workflows/autodoc_cicd.yml
  .github/workflows/ci_cd.yml
  README.rst
  doc/source/conf.py
  pyproject.toml
Labels: Documentation, Maintenance, Dependencies, CI/CD

Bump version to `0.1.0`
  _package/pyproject.toml
  pyproject.toml
Labels: Maintenance, Dependencies

feat: CLI to generate Python package
  .github/workflows/autodoc_cicd.yml
  README.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/source_code.rst
  pyproject.toml
  src/pydita_ast/cli.py
  src/pydita_ast/writer.py
  xml2rst.py
Labels: Documentation, Maintenance, Dependencies, CI/CD

tests: adding tests fix: fixing CLI according to Roberto's review
  .github/workflows/autodoc_cicd.yml
  README.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/source_code.rst
  pyproject.toml
  src/pydita_ast/cli.py
  tests/test_cli.py
  tests/test_custom_functions.py
  tests/test_directory_format.py
  tests/test_load_xml_doc.py
  tests/test_writer.py
  tests/test_xml_ast.py
Labels: Documentation, Maintenance, Dependencies, CI/CD

fix: fix CLI and tests
  README.rst
  doc/source/conf.py
  src/pydita_ast/cli.py
  tests/test_cli.py
Labels: Documentation

.github/labeler.yml:

Documentation:
- doc/source/**/*
Maintenance:
- .github/**/*
- .flake8
- doc/styles/**/*
- pyproject.toml
Dependencies:
- pyproject.toml
CI/CD:
- .github/**/*
