Repository ansys/pyconverter-xml2py, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Maintenance, Dependencies, CI/CD

.github/labeler.yml:

Documentation:
- doc/source/**/*
Maintenance:
- .github/**/*
- .flake8
- doc/styles/**/*
- pyproject.toml
Dependencies:
- pyproject.toml
CI/CD:
- .github/**/*

style: fix code style issues
  src/pyconverter/xml2py/cli.py
  src/pyconverter/xml2py/download.py
  src/pyconverter/xml2py/writer.py
Labels: none

Apply suggestions from code review
  src/pyconverter/xml2py/cli.py
Labels: none

style: update structure of the `download` file
  src/pyconverter/xml2py/download.py
Labels: none

test: fixing `write_source` function and unit tests
  src/pyconverter/xml2py/download.py
  src/pyconverter/xml2py/writer.py
  tests/test_writer.py
Labels: none

maint: adding numpy as a dependency
  pyproject.toml
Labels: Maintenance, Dependencies

maint: fixing download_template
  pyproject.toml
  src/pyconverter/xml2py/download.py
Labels: Maintenance, Dependencies

style: code style changes
  src/pyconverter/xml2py/download.py
Labels: none

Update src/pyconverter/xml2py/writer.py
  src/pyconverter/xml2py/writer.py
Labels: none

Avoid to copy-paste `_package` folder (#107)
  pyproject.toml
  src/pyconverter/xml2py/cli.py
  src/pyconverter/xml2py/download.py
  src/pyconverter/xml2py/writer.py
  tests/test_writer.py
Labels: Maintenance, Dependencies

doc: adding download module documentation
  doc/source/api/download.rst
  doc/source/links.rst
Labels: Documentation

fix: vale error
  doc/styles/Vocab/ANSYS/accept.txt
Labels: Maintenance

Update doc/source/api/download.rst
  doc/source/api/download.rst
Labels: Documentation

Adding download module documentation (#129)
  doc/source/api/download.rst
  doc/source/links.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: Documentation, Maintenance

doc: fixing download section
  doc/source/api/index.rst
Labels: Documentation

doc: fixing download section (#130)
  doc/source/api/index.rst
Labels: Documentation

release: bump version to 0.2.2
  pyproject.toml
Labels: Maintenance, Dependencies

fix: doc style checks
  doc/.vale.ini
  doc/styles/Vocab/ANSYS/accept.txt
Labels: Maintenance

doc: using autoapi and updating doc
  doc/Makefile
  doc/make.bat
  doc/source/api/ast_class.rst
  doc/source/api/ast_functions.rst
  doc/source/api/autogenerateddirectory.rst
  doc/source/api/custom_functions.rst
  doc/source/api/directory_format.rst
  doc/source/api/download.rst
  doc/source/api/index.rst
  doc/source/api/load_xml_doc.rst
  doc/source/api/oxygen_xml.rst
  doc/source/api/writer.rst
  doc/source/conf.py
  pyproject.toml
Labels: Documentation, Maintenance, Dependencies

maint: `add-license-headers` hook
  .coveragerc
  .gitattributes
  .pre-commit-config.yaml
  .reuse/dep5
  .reuse/templates/ansys.jinja2
  _package/AUTHORS.md
  src/pyconverter/xml2py/__init__.py
  src/pyconverter/xml2py/ast_tree.py
  src/pyconverter/xml2py/cli.py
  src/pyconverter/xml2py/custom_functions.py
  src/pyconverter/xml2py/directory_format.py
  src/pyconverter/xml2py/download.py
  src/pyconverter/xml2py/load_xml_doc.py
  src/pyconverter/xml2py/version_variables.py
  src/pyconverter/xml2py/writer.py
Labels: none
