Repository ansys/pyconverter-xml2py, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Maintenance, Dependencies, CI/CD

Adding a second test file for the customized funtions
  _package/customized_functions/k.py
  _package/customized_functions/kdist.py
Labels: none

Code style changes
  _package/customized_functions/k.py
  _package/customized_functions/kdist.py
Labels: none

Updating the requirements
  _package/pyproject.toml
  pyproject.toml
Labels: Maintenance, Dependencies

Updating the dependencies
  _package/pyproject.toml
  pyproject.toml
Labels: Maintenance, Dependencies

Adding `parse` in test dependencies
  pyproject.toml
Labels: Maintenance, Dependencies

Adding numpy dependency in _package
  _package/pyproject.toml
Labels: none

Adding `numpy` dependency in _package
  _package/pyproject.toml
Labels: none

Installing the doc dependencies
  .github/workflows/autodoc_cicd.yml
  pyproject.toml
Labels: Maintenance, Dependencies, CI/CD

Removing unecessary dependencies + update cicd titles
  .github/workflows/autodoc_cicd.yml
  _package/pyproject.toml
Labels: Maintenance, CI/CD

Updating dependencies (#37)
  .github/workflows/autodoc_cicd.yml
  _package/pyproject.toml
  pyproject.toml
Labels: Maintenance, Dependencies, CI/CD

Adding doc related to custom_functions
  doc/source/api/custom_functions.rst
  doc/source/api/index.rst
  src/pydita/ast/custom_functions.py
Labels: Documentation

Adding unit tests related to custom_functions
  src/pydita/ast/custom_functions.py
  tests/conftest.py
  tests/test_custom_functions.py
Labels: none

Style code changes
  src/pydita/ast/custom_functions.py
  tests/conftest.py
  tests/test_custom_functions.py
Labels: none

Updating README.rst
  README.rst
  doc/source/user_guide/index.rst
Labels: Documentation

Fixing CICD
  .github/workflows/autodoc_cicd.yml
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Adding graphviz in README
  README.rst
  doc/source/conf.py
  doc/source/getting_started/diags/diag_directory.rst
Labels: Documentation

Fixing typo in CICD
  .github/workflows/autodoc_cicd.yml
Labels: Maintenance, CI/CD

Changes from Roberto's review
  src/pydita/ast/ast_tree.py
  src/pydita/ast/custom_functions.py
  tests/test_custom_functions.py
  tests/test_xml_ast.py
Labels: none

Fixing vale issues
  doc/source/user_guide/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: Documentation, Maintenance

Apply suggestions from code review
  .github/workflows/autodoc_cicd.yml
Labels: Maintenance, CI/CD

Fixing deployed dev documentation (#40)
  .github/workflows/autodoc_cicd.yml
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Apply suggestions from code review
  src/pydita/ast/custom_functions.py
  src/pydita/ast/writer.py
Labels: none

Update src/pydita/ast/custom_functions.py
  src/pydita/ast/custom_functions.py
Labels: none

Generating source code (#28)
  _package/customized_functions/k.py
  _package/customized_functions/kdist.py
  _package/pyproject.toml
  doc/source/api/custom_functions.rst
  doc/source/api/index.rst
  pyproject.toml
  src/pydita/ast/ast_tree.py
  src/pydita/ast/custom_functions.py
  src/pydita/ast/writer.py
  tests/conftest.py
  tests/test_custom_functions.py
  tests/test_writer.py
  tests/test_xml_ast.py
Labels: Documentation, Maintenance, Dependencies

Adding file
  doc/source/getting_started/diags/graphviz-diag_directory.png
Labels: Documentation

Update README.rst
  README.rst
Labels: none

Adding documentation for source code generation
  _package/customized_functions/l2ang.py
  _package/doc/source/conf.py
  doc/source/conf.py
  doc/source/getting_started/index.rst
  pyproject.toml
Labels: Documentation, Maintenance, Dependencies

Code style changes
  _package/doc/source/conf.py
  doc/source/getting_started/index.rst
Labels: Documentation

Adding documentation for XML objects handled
  README.rst
  doc/source/api/index.rst
  doc/source/getting_started/images/diags/diag_directory.rst
  doc/source/getting_started/images/diags/graphviz-diag_directory.png
  doc/source/getting_started/images/tables_doc.png
  doc/source/getting_started/index.rst
  doc/source/getting_started/objects.rst
  doc/source/getting_started/source_code.rst
  doc/source/links.rst
Labels: Documentation

Fixing vale errors
  doc/source/getting_started/index.rst
  doc/source/getting_started/objects.rst
  doc/source/getting_started/source_code.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: Documentation, Maintenance

Modifying README.rst
  README.rst
  doc/source/user_guide/index.rst
Labels: Documentation

Update README.rst
  README.rst
Labels: none

Update README.rst
  README.rst
Labels: none

Fixing README.rst
  README.rst
  doc/source/links.rst
  doc/source/user_guide/index.rst
Labels: Documentation

Update README.rst
  README.rst
Labels: none

Update README.rst
  README.rst
Labels: none

Apply suggestions from code review
  _package/doc/source/conf.py
  doc/source/getting_started/index.rst
  doc/source/getting_started/objects.rst
  doc/source/getting_started/source_code.rst
Labels: Documentation

Fixing references and including README
  doc/source/contributing/index.rst
  doc/source/getting_started/index.rst
Labels: Documentation

Fixing a typo
  doc/source/getting_started/index.rst
Labels: Documentation

Fixing settings
  README.rst
  _package/doc/source/conf.py
  doc/source/getting_started/index.rst
Labels: Documentation

.github/labeler.yml:

Documentation:
- doc/source/**/*
Maintenance:
- .github/**/*
- .flake8
- doc/styles/**/*
- pyproject.toml
Dependencies:
- pyproject.toml
CI/CD:
- .github/**/*
