Repository ansys/pyconverter-xml2py, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Maintenance, Dependencies, CI/CD

maint: update `ansys/actions` to v5
  .github/workflows/autodoc_cicd.yml
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

maint: updating `actions/download-artifact` to v4
  .github/workflows/autodoc_cicd.yml
Labels: Maintenance, CI/CD

maint: updating latest `lxml` version
  pyproject.toml
Labels: Maintenance, Dependencies

fix: fixing tostring error
  src/pyconverter/xml2py/ast_tree.py
Labels: none

feat: removing pre-commit hook
  .pre-commit-config.yaml
  .reuse/dep5
  .reuse/templates/ansys.jinja2
  AUTHORS.md
  _package/AUTHORS.md
  src/pyconverter/xml2py/__init__.py
  src/pyconverter/xml2py/ast_tree.py
  src/pyconverter/xml2py/cli.py
  src/pyconverter/xml2py/custom_functions.py
  src/pyconverter/xml2py/directory_format.py
  src/pyconverter/xml2py/download.py
  src/pyconverter/xml2py/load_xml_doc.py
  src/pyconverter/xml2py/version_variables.py
  src/pyconverter/xml2py/writer.py
Labels: none

Apply suggestions from code review
  .coveragerc
  .gitattributes
Labels: none

doc: small fixes
  doc/source/user_guide/index.rst
  doc/source/user_guide/objects.rst
Labels: none

Apply suggestions from code review
  src/pyconverter/xml2py/ast_tree.py
  src/pyconverter/xml2py/cli.py
  src/pyconverter/xml2py/custom_functions.py
  src/pyconverter/xml2py/directory_format.py
  src/pyconverter/xml2py/download.py
  src/pyconverter/xml2py/load_xml_doc.py
  src/pyconverter/xml2py/version_variables.py
  src/pyconverter/xml2py/writer.py
Labels: none

Apply suggestions from code review
  src/pyconverter/xml2py/__init__.py
Labels: none

Update src/pyconverter/xml2py/download.py
  src/pyconverter/xml2py/download.py
Labels: none

fix: pre-commit fixes
  src/pyconverter/xml2py/version_variables.py
Labels: none

maint: implementing autoapi and general maintenance (#167)
  doc/Makefile
  doc/make.bat
  doc/source/api/ast_class.rst
  doc/source/api/ast_functions.rst
  doc/source/api/autogenerateddirectory.rst
  doc/source/api/custom_functions.rst
  doc/source/api/directory_format.rst
  doc/source/api/download.rst
  doc/source/api/index.rst
  doc/source/api/load_xml_doc.rst
  doc/source/api/oxygen_xml.rst
  doc/source/api/writer.rst
  doc/source/conf.py
  doc/source/user_guide/index.rst
  doc/source/user_guide/objects.rst
  pyproject.toml
  src/pyconverter/xml2py/__init__.py
  src/pyconverter/xml2py/ast_tree.py
  src/pyconverter/xml2py/cli.py
  src/pyconverter/xml2py/custom_functions.py
  src/pyconverter/xml2py/directory_format.py
  src/pyconverter/xml2py/download.py
  src/pyconverter/xml2py/load_xml_doc.py
  src/pyconverter/xml2py/version_variables.py
  src/pyconverter/xml2py/writer.py
Labels: Maintenance, Dependencies

feat: adding headers with `ansys/pre-commit-hooks`
  .pre-commit-config.yaml
  src/pyconverter/xml2py/__init__.py
  src/pyconverter/xml2py/ast_tree.py
  src/pyconverter/xml2py/cli.py
  src/pyconverter/xml2py/custom_functions.py
  src/pyconverter/xml2py/directory_format.py
  src/pyconverter/xml2py/download.py
  src/pyconverter/xml2py/load_xml_doc.py
  src/pyconverter/xml2py/version_variables.py
  src/pyconverter/xml2py/writer.py
  tests/conftest.py
  tests/customized_functions/k.py
  tests/customized_functions/kdist.py
  tests/test_cli.py
  tests/test_custom_functions.py
  tests/test_directory_format.py
  tests/test_load_xml_doc.py
  tests/test_writer.py
  tests/test_xml_ast.py
Labels: none

fix: removing `custom_copyright` arg
  .pre-commit-config.yaml
  src/pyconverter/xml2py/__init__.py
  src/pyconverter/xml2py/ast_tree.py
  src/pyconverter/xml2py/cli.py
  src/pyconverter/xml2py/custom_functions.py
  src/pyconverter/xml2py/directory_format.py
  src/pyconverter/xml2py/download.py
  src/pyconverter/xml2py/load_xml_doc.py
  src/pyconverter/xml2py/version_variables.py
  src/pyconverter/xml2py/writer.py
  tests/conftest.py
  tests/customized_functions/k.py
  tests/customized_functions/kdist.py
  tests/test_cli.py
  tests/test_custom_functions.py
  tests/test_directory_format.py
  tests/test_load_xml_doc.py
  tests/test_writer.py
  tests/test_xml_ast.py
Labels: none

feat: adding headers to the repository (#189)
  .pre-commit-config.yaml
  src/pyconverter/xml2py/__init__.py
  src/pyconverter/xml2py/ast_tree.py
  src/pyconverter/xml2py/cli.py
  src/pyconverter/xml2py/custom_functions.py
  src/pyconverter/xml2py/directory_format.py
  src/pyconverter/xml2py/download.py
  src/pyconverter/xml2py/load_xml_doc.py
  src/pyconverter/xml2py/version_variables.py
  src/pyconverter/xml2py/writer.py
  tests/conftest.py
  tests/customized_functions/k.py
  tests/customized_functions/kdist.py
  tests/test_cli.py
  tests/test_custom_functions.py
  tests/test_directory_format.py
  tests/test_load_xml_doc.py
  tests/test_writer.py
  tests/test_xml_ast.py
Labels: none

fix: update `ansys/pre-commit-hooks` version
  .pre-commit-config.yaml
Labels: none

fix: update `ansys/pre-commit-hooks` version (#191)
  .pre-commit-config.yaml
Labels: none

.github/labeler.yml:

Documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/source/**/*'
Maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'doc/styles/**/*'
  - any-glob-to-any-file: 'pyproject.toml'
Dependencies:
- changed-files:
  - any-glob-to-any-file: 'pyproject.toml'
CI/CD:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
